includes:
    - vendor/nunomaduro/larastan/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
parameters:
    ignoreErrors:
        - '#Cannot call method expectsOutput\(\) on Illuminate\\Testing\\PendingCommand\|int.#'
    reportUnmatchedIgnoredErrors: true
    checkMissingIterableValueType: false
